<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Average App
    </title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    </script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">
            Average App
        </h1>

        <p>
            <a class="ui yellow button" href="/get_average/">Calculate class average</a>
        </p>
        <div>{{results}}</div>

        <form class="ui form" action="/add" method="post">
            <div class="field">
                <label>First name:</label>
                <input type="text" name="fname" placeholder="First name">
                <br>
                <label>Last name:</label>
                <input type="text" name="lname" placeholder="Last name">
                <br>
                <label>Grade:</label>
                <input type="text" name="grd" placeholder="Grade">
                <br>
                <!--<input type="submit" value="Submit">-->
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </form>
    
<!--
        <hr>
        <form class="ui form">
            <div class="ui segment">
                <p class="ui body">{{grade_list}}</p>
            </div>
        </form>-->

        {% for record in grade_list %}
        
            <!--<form class="ui form" method="get">-->
                <div class="ui segment">
                    <p class="ui big header">{{record.StudentID}} | {{record.FirstName}} {{record.LastName}} {{record.Grade}}</p>
                    <!--<a class="ui green button" href="/update/{{record.StudentID}}">Update</a>-->
                    <a class="ui red button" href="/delete/{{record.StudentID}}">Delete</a>
                    
                </div>               
            <!--</form>-->

        {% endfor %}
    </div>
</body>
</html>